# file ignores
node_modules
*.keras
*.hd5.*
*.h5
*.png
*.jpg
*.csv
*.zip
# folder ingnors
/data
flasky/AiModel-Bilbo_Baggins-v1.0.hd5/
flasky/checkpoint
flasky/data/test_v2/
reacty
.devcontainer/
.vscode/
# others
my_dir


